@CHARSET "UTF-8";
@import url(../runo/styles.css);


/* 程序的背景色 */
.v-app {
/* 	background:white; */
	background: #fff url(img/main-bg.png) repeat-x;
}
.v-label-buttom {
	border: none;
}
/***************************************************************************
 * 
 * 头部样式
 * 
 ************************************************************************* */
/* 注销按钮样式 */
.v-button-link .v-button-caption{
	text-decoration: none;
	color: rgb(214,216,218);
	text-align: left;
	font-size: 14px;
	padding-bottom: 2px;
}
/* 头部背景样式 */
.oa-top-style-verticalLayout{
	background:  url("img/top-bg.png");
	background-repeat:repeat;
	margin-bottom: 0px;
	padding: 0px;
}
/* OA办公系统样式 */
.oa-top-style-label {
	color: rgb(194,196,198);
/* 	color: black; */
	font-size: 1.8em;
	padding-bottom: 10px;
	padding-left:50px;
	text-decoration: none;
	text-shadow: 0 1px 0 #8F9193;
	line-height: normal;
	display: block;
	float: left; 
	width: 200px;
	vertical-align: middle;
}
/* logo样式 */
.oa-top-logo { 
	background: url("img/theme-select-bg.png");
}
 /**************************************************************************
  *
  *自定义panel样式
  *
  **************************************************************************/
.v-panel-nocaption {
	padding: 0px;
	height: 0px;
	overflow: hidden;
/* 	border-top: 1px solid #b3b3b3; */
}

.v-panel-content {
	background: #fff;
/* 	border: 1px solid #b3b3b3; */
	border-bottom:  none;
}

.v-panel-deco {
	border:none;
	height: 0px;
	overflow: hidden;
/* 	border-top: 1px solid #b3b3b3; */
	border-bottom: 1px solid #b3b3b3;	
	margin-left: -10px;
}


.v-panel-style {
	border-bottom:solid 0px red;
	border-left:solid 0px red;
	border-right:solid 0px red;
}



/***************************************************************************
 * 
 * 自定义 link 样式    个人信息用到
 * 
 ************************************************************************* */
.oa-link-style {
	text-decoration: none;
	color: red;
	cursor: hand;
	font-size: 14px;
	padding-bottom: 2px;
}.oa-link-style a {
	text-decoration:none;
	color: rgb(214,216,218);
}
.oa-link-style span {
	text-decoration: none;
	vertical-align: middle;
}
.oa-link-style .v-disabled a {
	cursor: default;
}
.oa-link-style img {
	vertical-align: middle;
	border:none;
}
.oa-link-style a:link span {
	color: #1b699f;
}
.oa-link-style a:visited span {
	color: graytext;
}
.oa-link-style a:hover span {
	color: rgb(210,210,215);
	cursor:pointer;
	text-decoration: none;
}


 /**************************************************************************
  *
  *登陆界面样式
  *
  **************************************************************************/
.v-panel-caption {
/*   	background: #b9dcff; */
/* 	font-size: 1.5em; */
/* 	border: 1px solid #b3b3b3; */
/* 	border-bottom: none; */
/* 	padding: .2em .6em; */
	color: black;
  }
 /**************************************************************************
  *
  *自定义 左侧树样式
  *
  **************************************************************************/
.oa-navigation-tree{
	outline:none;
	height: 90%;
	width: 100%;
	padding-top:5px;
	background: white url("img/tree-bg1.png") repeat-x fixed;
}
.oa-navigation-tree .v-tree-node-caption span {
	height: 15px;
}

/* 底部版权信息样式 */
.oa-buttom-link-style span {
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
}
 /**************************************************************************
  *
  *CRM 客户分类样式
  *
  **************************************************************************/
/* 不显示tableHeader */
.oa-tableHeader .v-table-header-wrap {
	padding-top:10px;
	height: 0px;
	border: 0px solid #b6bbbc;
	border-bottom: none;
}
/* 去掉table的边框 */
.oa-tableHeader .v-table-body {
	background: #fff;
	border: 0px solid #b6bbbc;
}
/* 字体、居中、行高样式 */
.oa-tableHeader .v-table-cell-wrapper {
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}


/* 个人信息修改窗口 */

/* 密码的说明 */
.oa-personInfoLinkReadMe {
	vertical-align: middle;
	text-align: center;
}



/* 个人信息 注销 样式 */
 .v-button-link,
.v-nativebutton-link {
	padding-bottom: 5px;
}

/* VerticalLayout 上下间距 3px */
.oa-VerticalLayout-padding-top-buttom {
	padding-top: 3px;
	padding-bottom:3px;
}

